* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-image: linear-gradient(
    to bottom right,
    #aedcff,
    #98c1ff
  );
}

.sign-up-container>p, .sign-up-container>h4 {
  font-size: 20px;
  margin: 4% 0%;
}

.card-container {
  position: relative;
  left: 10%;
  width: 80vw;
  height: 80vh;
  margin: 10vh 0vh;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  background: rgb(247, 239, 224);
  box-shadow: 5px 5px rgb(208, 155, 41), 1em 0.5em 5em rgb(60, 109, 235);
  color: rgb(73, 75, 85);
  font-family: 'Sarala', sans-serif;
}

div>#card-image {
  max-width: 40%;
  flex-shrink: 0;
  border-radius: 20px 0 0 20px;
}

div>.sign-up-container {
  padding: 3%;
  width: 60%;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

form>div {
  display: flex;
  flex-direction: column;
  min-width: 18vw;
  margin: 2% 0%;
  font-size: .875rem
}