* {
  border: solid #E5E7EB;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
body {
  background-image: linear-gradient(
    to bottom right,
    #fe7630,
    #ffc711
  );
}
*/

.card-container {
  position: relative;
  left: 10%;
  width: 80vw;
  height: 80vh;
  margin: 10vh 0vh;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 5px 5px rgb(146, 146, 146), -1em 0 .4em rgb(73, 73, 73);
}

div>#card-image {
  max-width: 40%;
  height: auto;
}

div>.sign-up-container {
  padding: 2%;
  width: 60%;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

form>div {
  display: flex;
  flex-direction: column;
  min-width: 20vw;
}

